html, body { margin: 0; padding: 0; border: 0;}


.app {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.stats, .unlocks {
 flex: 1;
 padding: 10px;
}

.stats {
  font-size: 25px;
}


.unlock{
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
}

#happinessProgress {
  margin: 20px;
  width: 200px;
  height: 100px;
  margin-bottom: 30px;
}


/* City Section */
.city {
  flex: 2;
  text-align: center;
}

#city-clicker {
  background: lightpink;
  height: 100px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}

#city-clicker:active {
  height: 110px;
  width: 110px;
}

body {
  padding: 15px;
}

  #map {
  height: 500px;
  width: 700px;
  padding: 10px;
}
