html, body { margin: 0; padding: 0; border: 0;}

div {
  border: 1px solid black;
}


.app {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.stats, .unlocks {
 flex: 1;
}


/* City Section */
.city {
  flex: 2;
  text-align: center;
}

#city-clicker {
  background: lightpink;
  height: 100px;
  width: 100px;
  margin: auto;
}

#city-clicker:active {
  height: 110px;
  width: 110px;
}
